@import "tailwindcss";
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font chung (giá»‘ng Figma) */
@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
}